.hidden, .hidden-button {
  display: none;
}

.createButton {
  margin: 0, 2000px;
}

.hidden, .table {
  margin: 0 22%;
}

.image {
  width: 200px;
  height: 200px;
}

th, td, .buttonContainer {
  text-align: center;
}

.buttonContainer {
  width: 100%
}
